<aside class="sidebar-wrapper" th:fragment="bar">
    <div class="side-menu-wrap">
        <ul class="main-menu">
            <li>
                <a class="active" href="index.html">
                            <span class="icon-menu feather-icon">
                                <svg class="feather feather-home" fill="none" stroke="currentColor"
                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                     viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                                        d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline
                                        points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </span>
                    <span class="menu-text">统计</span>
                </a>
            </li>
            <li>
                <a href="orders.html">
                            <span class="icon-menu feather-icon">
                                <svg class="feather feather-truck" fill="none" stroke="currentColor"
                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                     viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect height="13" width="15"
                                                                                                  x="1"
                                                                                                  y="3"></rect><polygon
                                        points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5"
                                                                                                    r="2.5"></circle><circle
                                        cx="18.5" cy="18.5" r="2.5"></circle></svg>
                            </span>
                    <span class="menu-text">
                                订单
                            </span>
                </a>
            </li>
            <li>
                <a href="chart.html">
                            <span class="icon-menu feather-icon">
                                <svg class="feather feather-pie-chart" fill="none" stroke="currentColor"
                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                     viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                                        d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path
                                        d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
                            </span>
                    <span class="menu-text">
                                图表
                            </span>
                </a>
            </li>
        </ul>
    </div>
</aside>