<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--<![endif]-->
<!-- Begin Head -->


<head>
    <title>SplashDash</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <meta content="320" name="MobileOptimized">
    <link href="static/css/css2.css" rel="stylesheet">
    <link href="https://www.17sucai.com/preview/1097306/2021-07-18/splashdash/assets/images/favicon.png"
          rel="shortcut icon" type="image/png">
</head>

<body style="margin:0;font-family: 'Roboto', sans-serif;line-height: 26px;">

<table style="background-color:#f8f8f8; font-family: 'Roboto', sans-serif; width:100%;">
    <tr>
        <td>
            <table style="padding: 40px 0 0;padding-bottom: 0; width: 600px;margin:0 auto; margin-bottom:40px; border: none;">
                <tr>
                    <td style="border: none;clear: both !important;background-color:#ffffff;display: block !important;Margin: 0 auto !important;max-width: 600px !important;border-radius: 10px;">
                        <table style="width: 100%; border: none;border: none;">
                            <tr style="-webkit-font-smoothing: antialiased;  height: 100%;  -webkit-text-size-adjust: none;  width: 100% !important;">
                                <td style=" float: left; padding: 40px 0px 145px;text-align: center;width:100%;background-image: url(https://www.17sucai.com/preview/1097306/2021-07-18/splashdash/assets/images/backgroundshape.png); background-size: cover;background-position: center;">
													<span style="text-align: center;display:inline-block;">
														<a href="index.html">
															<img alt="" src="static/picture/logo.png">
														</a>
													</span>
                                </td>
                            </tr>
                        </table>

                        <table style=" width: 100%; padding:0 50px 30px;border: none;">


                            <tr>
                                <td style="font-size:20px; color:#0b2354;font-weight: 600; text-align:left;">
                                    Hi {member_name},
                                </td>
                            </tr>

                            <tr>
                                <td style="height:20px;">
                                    <p style="margin-bottom: 0;font-size: 16px;color: #98a4bf;">Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:15px;"></td>
                            </tr>

                            <tr>
                                <td style="font-size:20px; color:#0b2354;;font-weight: 600; text-align:left;">
                                    Your Login Details -
                                </td>
                            </tr>
                            <tr>
                                <td style="height:5px;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0;font-size: 16px;color: #98a4bf;">Please keep these login details
                                        safe as they are your keys to the software and your member area:</p>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:20px;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin:0;font-size:16px; color:#98a4bf;"><span
                                            style="color:#0b2354;font-weight:600;margin-right: 15px;">Email -</span>
                                        {member_email}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:10px;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin:0;font-size:16px; color:#98a4bf;"><span
                                            style="color:#0b2354;font-weight:600;margin-right: 15px;">Password -</span>
                                        {member_password}</p>
                                </td>
                            </tr>


                        </table>

                        <table style=" width: 100%; padding:0;border: none;">
                            <tr>
                                <td style="border-bottom: 1px solid #efefef;"></td>
                            </tr>
                            <tr>
                                <td style="height:34px;"></td>
                            </tr>
                            <tr>
                                <td style="padding:0 50px;">
                                    <p style="margin: 0;font-size: 16px;color: #98a4bf;">To Your Success,</p>
                                    <p style="margin: 0;font-size: 16px;color: #98a4bf;">The <span
                                            style="margin-right: 15px;color: #0b2354;font-weight: 600;">Admin</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:32px;"></td>
                            </tr>
                        </table>

                        <table style=" border: none; width: 100%; padding:11px 20px 12px;  background:#11a1fd;">
                            <tr>
                                <td style="font-size:14px; color:#ffffff; text-align:center;">Copyright &copy;
                                    2021.Company name All rights reserved.<a href="https://sc.chinaz.com/moban/"
                                                                             target="_blank">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>