<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>樱花支付-错误</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <meta content="320" name="MobileOptimized">
    <!--Start Style -->
    <link href="static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/icofont.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <link href="" id="theme-change" rel="stylesheet" type="text/css">
</head>


<body>
<div class="loader">
    <div class="spinner">
        <img alt="" src="static/picture/loader.gif">
    </div>
</div>
<!-- Main Body -->
<div class="fb-main-404section">
    <div class="fb-404page">
        <img alt="" src="static/picture/error.png">
        <h1>错误...</h1>
        <p>页面未找到</p>
        <div class="fb-404btn">
            <a class="acd-btn" href="index.html">回到主页</a>
        </div>
    </div>
</div>
<!-- Color Setting -->
<div id="style-switcher">
    <div>
        <ul class="colors">
            <li>
                <p class='colorchange' id='color'>
                </p>
            </li>
            <li>
                <p class='colorchange' id='color2'>
                </p>
            </li>
            <li>
                <p class='colorchange' id='color3'>
                </p>
            </li>
            <li>
                <p class='colorchange' id='color4'>
                </p>
            </li>
            <li>
                <p class='colorchange' id='color5'>
                </p>
            </li>
            <li>
                <p class='colorchange' id='style'>
                </p>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a class="settings" href="">
            <i aria-hidden="true" class="fa fa-cog"></i>
        </a>
    </div>
</div>
<!-- Color Setting -->
<!-- Script Start -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/custom.js"></script>
</body>

</html>