<!DOCTYPE html>
<!--[if IE 8]>
<html lang="zh-CN" class="ie8 no-js" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security> <![endif]-->
<!--[if IE 9]>
<html lang="zh-CN" class="ie9 no-js" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN" xmlns:th=http://www.thymeleaf.org>
<!--<![endif]-->
<!-- Begin Head -->

<head th:replace="~{header::head}"></head>

<body>
<div class="loader">
    <div class="spinner">
        <img alt="" src="static/picture/loader.gif">
    </div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
    <!-- Header Start -->
    <header th:replace="~{header::header}"></header>
    <!-- Sidebar Start -->
    <aside th:replace="~{body::bar}"></aside>
    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content">
            <!-- Page Title Start -->
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box ad-title-box-use">
                            <h4 class="page-title">订单</h4>
                        </div>

                        <div class="ad-breadcrumb">
                            <form action="">
                                <ul>
                                    <li>
                                        <div class="ad-user-btn">
                                            <input class="form-control" id="text-input" name="keywords"
                                                   placeholder="搜索订单..." type="text">
                                            <svg version="1.1" viewbox="0 0 56.966 56.966"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
												s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
												c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
												s-17-7.626-17-17S14.61,6,23.984,6z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="add-group">
                                            <button class="acd-btn" type="submit">搜索</button>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Table Start -->
            <div class="row">
                <!-- Styled Table Card-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card table-card">
                        <div class="card-header pb-0">
                            <h4>订单列表</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-holder">
                                <div class="table-responsive">
                                    <table class="table table-styled mb-0">
                                        <thead>
                                        <tr>
                                            <th>订单ID</th>
                                            <th>订单名称</th>
                                            <th>时间</th>
                                            <th>金额</th>
                                            <th>状态</th>
                                            <th>支付方式</th>
                                            <th>其他</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="record ,iter: ${records}">
                                            <td th:text="${record.getOrderId()}">#JH2033</td>
                                            <td th:text="${record.getOrderName()}">Emily Arnold</td>
                                            <td th:text="${record.getFormatTime()}">22/06/2021</td>
                                            <td th:text="${record.getOrderAmount()}">$600</td>
                                            <td th:switch="${record.getOrderStatus().name()}">
                                                <label class="mb-0 badge badge-success" data-original-title="Pending"
                                                       th:case="'SUCCESS'"
                                                       th:text="${record.getStatusDesc()}" title="">Pending</label>
                                                <label class="mb-0 badge badge-danger" data-original-title="Pending"
                                                       th:case="'REFUND'"
                                                       th:text="${record.getStatusDesc()}" title="">Pending</label>
                                                <label class="mb-0 badge badge-primary" data-original-title="Pending"
                                                       th:case="*"
                                                       th:text="${record.getStatusDesc()}"
                                                       title="">Pending</label>
                                            </td>
                                            <td th:text="${record.getPlatformName()}">Paypal</td>
                                            <td th:text="${record.getAttach()}">View Detail</td>
                                            <td class="relative">
                                                <a class="action-btn " href="javascript:void(0); ">
                                                    <svg class="default-size " viewbox="0 0 341.333 341.333 ">
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path d="M170.667,85.333c23.573,0,42.667-19.093,42.667-42.667C213.333,19.093,194.24,0,170.667,0S128,19.093,128,42.667 C128,66.24,147.093,85.333,170.667,85.333z "></path>
                                                                    <path d="M170.667,128C147.093,128,128,147.093,128,170.667s19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 S194.24,128,170.667,128z "></path>
                                                                    <path d="M170.667,256C147.093,256,128,275.093,128,298.667c0,23.573,19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 C213.333,275.093,194.24,256,170.667,256z "></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                                <div class="action-option ">
                                                    <ul>
                                                        <li>
                                                            <a th:onclick="'remove(&quot;'+${record.getOrderId()}+'&quot;)'">
                                                                <i style="color:white"><i
                                                                        class="fas fa-trash-alt mr-2 "></i>
                                                                    刪除</i></a>
                                                        </li>
                                                        <li th:if="${record.getOrderStatus().name()} == 'SUCCESS'">
                                                            <a th:onclick="'refund(&quot;'+${record.getOrderId()}+'&quot;)'">
                                                                <i style="color:white"><i class="fas fa-undo mr-2 "></i>
                                                                    退款</i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-right pt-2">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0 ">
                                        <li class="page-item" th:if="${page}!=1">
                                            <a class="page-link"
                                               tabindex="-1"
                                               th:href="'orders?page='+${page -1}+'&keywords='+${keywords}"><i
                                                    class="fas fa-chevron-left"></i></a>
                                        </li>
                                        <li class="page-item active "><a class="page-link "
                                                                         th:href="'orders?page='+${page}+'&keywords='+${keywords}"
                                                                         th:text="${page}">1</a>
                                        </li>

                                        <li class="page-item " th:if="${records.size()==8}">
                                            <a class="page-link "
                                               th:href="'orders?page='+${page+1}+'&keywords='+${keywords}"
                                               th:text="${page}+1">2</a>
                                        </li>
                                        <li class="page-item " th:if="${records.size() ==8}">
                                            <a class="page-link "
                                               th:href="'orders?page='+${page+2}+'&keywords='+${keywords}"
                                               th:text="${page}+2">3</a>
                                        </li>
                                        <li class="page-item " th:if="${records.size() ==8}">
                                            <a class="page-link "
                                               th:href="'orders?page='+${page+1}+'&keywords='+${keywords}"><i
                                                    class="fas fa-chevron-right "></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="~{footer::footer}">
            </div>
        </div>
    </div>
</div>
<!-- Color Setting -->
<!-- Script Start -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/custom.js"></script>
<script th:inline="javascript">
    function remove(order) {
        console.log(order)
        $.post("api/pay/remove", {
            "orderId": order,
            [[${_csrf.parameterName}]]: [[${_csrf.token}]]
        }, function (data, status) {
            alert("订单: " + data + "请求: " + status);
            location.reload();
        })
    }

    function refund(order) {
        console.log(order)
        $.post("api/pay/refund", {
                "orderId": order,
                [[${_csrf.parameterName}]]: [[${_csrf.token}]]
            }, function (data, status) {
                if (data === "") {
                    alert("退款失败，请检查控制台");
                } else {
                    alert("订单: 退款成功! 请求: " + status);
                    location.reload();
                }
            }
        )
    }
</script>
</body>

</html>